<!doctype html>
<title>SDN APP</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" media=screen>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='timeline_style.css') }}" media=screen>

<body>
<div id="wrapper">

<div id="timeline">
<div id="timeline_bar">
</div>
<ul class=entries>
{% for link in entries %}
<li>On {{link['timestamp']}} Router: {{link['router_name']}} {{link['status']}} with Interface: {{link['interface_name']}} Router ID: {{link['router_id']}} Interface address: {{link['interface_address']}}</li>

{% endfor %}
</ul>
</div>

</div>
</body>
